#topbar{
	padding-top: 2em;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	@media #{$medium-up}{
		padding-top: 3em;
	}

	&.stick{
		nav{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			background-color: #fff;
			text-align: center;
			z-index: 5;
			margin: 0;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			padding-top: 1em;
		}
		padding-bottom: 68px;
	}
	.me-img{
		margin-right: 1em;
		display: inline-block;
		vertical-align: middle;
		@media #{$medium-up}{
			margin-right: 2em;
		}

		img{
			width: 75px;
			height: 75px;
			border-radius: 50%;
			@media #{$medium-up}{
				width: 100px;
				height: 100px;
			}
		}
	}
	.title{
		display: inline-block;
		vertical-align: middle;
		font-size: 90%;
		@media #{$medium-up}{
			font-size: 100%;
		}

		h1, h2{
			margin: 0;
		}
		h2{
			font-size: 1.2em;
			color: rgba(0,0,0,0.4);
		}
		small{
			color: rgba(0,0,0,0.3);
		}
	}
	nav{
		text-transform: uppercase;
		font-weight: bold;
		color: rgba(0,0,0,0.5);
		margin-top: 3em;
		transform: translate3d(0px,0px,0px);
		a{
			display: inline-block;
			margin: 0 4px;
			padding-bottom: 1em;
			border-bottom: 2px solid transparent;
			@media #{$medium-up}{
				margin: 0 1em;
			}
			
			&.active{
				border-color: rgba(0,0,0,0.5)
			}
			li{
				list-style: none;
				img{
					width: 17px;
					height: 17px;
				}
			}
		}
	}
}