@import "foundation";

$small-size: 40em;
$medium-size: 64em;
$large-size: 75em;

$small-only: "screen and (min-width: $small-size) and (max-width: $medium-size)";
$medium-only: "screen and (min-width: $medium-size) and (max-width: $large-size)";
$medium-up: "screen and (min-width: $small-size)";
$large-up: "screen and (min-width: $medium-size)";

body{
	margin: 0;
	font-family: 'HelveticaNeue', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
}

a{
	text-decoration: none;
	color: inherit;
	&:visited{
		color: inherit;
	}
}


.container{
	width: 95%;
	max-width: 1110px;
	margin: 0 auto;
	@media #{$medium-up}{
		width: 90%;
	}
}

.inner-content{
	margin-top: 3em;
}

#topbar{
	padding-top: 2em;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	@media #{$medium-up}{
		padding-top: 3em;
	}

	&.stick{
		nav{
			position: fixed;
			top: 0;
			width: 100%;
			background-color: #fff;
			text-align: center;
			z-index: 5;
			margin: 0;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			padding-top: 1em;
		}
		padding-bottom: 68px;
	}
	.me-img{
		margin-right: 1em;
		display: inline-block;
		vertical-align: middle;
		@media #{$medium-up}{
			margin-right: 2em;
		}

		img{
			width: 75px;
			height: 75px;
			border-radius: 50%;
			@media #{$medium-up}{
				width: 100px;
				height: 100px;
			}
		}
	}
	.title{
		display: inline-block;
		vertical-align: middle;
		font-size: 90%;
		@media #{$medium-up}{
			font-size: 100%;
		}

		h1, h2{
			margin: 0;
		}
		h2{
			font-size: 1.2em;
			color: rgba(0,0,0,0.4);
		}
		small{
			color: rgba(0,0,0,0.3);
		}
	}
	nav{
		text-transform: uppercase;
		font-weight: bold;
		color: rgba(0,0,0,0.5);
		margin-top: 3em;
		a{
			display: inline-block;
			margin: 0 5px;
			padding-bottom: 1em;
			border-bottom: 2px solid transparent;
			@media #{$medium-up}{
				margin: 0 1em;
			}
			
			&.active{
				border-color: rgba(0,0,0,0.5)
			}
			li{
				list-style: none;
				img{
					width: 17px;
					height: 17px;
				}
			}
		}
	}
}

#projects{
	article{
		margin-bottom: 3em;
		overflow: hidden;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		.project-outer-img{
			width: 100%;
			height: 300px;
			overflow: hidden;
			.project-img{
				width: 100%;
				height: 300px;
				background-size: cover;
				border-bottom: 1px solid rgba(0,0,0,0.1);
				transform: scale(1);
				opacity: 1;
				transition: all .3s ease;
				transform-origin: top;
				&:hover{
				    transform: scale(1.2);
				    opacity: 0.5;
				}
			}
		}
		.descriptive-column{
			padding: 1em 3em;
			min-height: 200px;
			.project-title{
				font-size: 2em;
				font-weight: bold;
			}
			.project-skills{
				color: rgba(0,0,0,0.2);
				span{
					margin-right: 5px;
				}
			}
		}
	}
}