@import "foundation";

$small-size: 40em;
$medium-size: 64em;
$large-size: 75em;

$small-only: "screen and (min-width: $small-size) and (max-width: $medium-size)";
$medium-only: "screen and (min-width: $medium-size) and (max-width: $large-size)";
$medium-up: "screen and (min-width: $small-size)";
$large-up: "screen and (min-width: $medium-size)";

$accent-color: '#2ba6cb';

@import "sidebar";
@import "projects";
@import "about";

body{
	margin: 0;
	font-family: 'HelveticaNeue', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	color: #333;
}

a{
	text-decoration: none;
	color: inherit;
	font-weight: bold;
	&:visited{
		color: inherit;
	}
	&:hover{
		color: #000;
	}
}

h1{
	margin: 0;
}


.container{
	width: 90%;
	max-width: 1110px;
	margin: 0 auto;
}

.inner-content{
	margin-top: 2em;
	@media #{$medium-up}{
		margin-top: 3em;
	}
}

	form{
		input, textarea{
			width: 100%;
			padding: 1em;
			border-radius: 5px;
			border: 1px solid rgba(0,0,0,0.2);
			margin: .5em 0;
			box-shadow: 0 1px rgba(0,0,0,0.1);
			outline: 0;
			&:focus, &:active{
				border-color: $accent-color;
			}
		}
		textarea{
			height: 250px;
		}
		button.button{
			background-color: $accent-color;
			outline: 0;
			&:hover, &:focus{
				background-color: #de5a55;
			}
			&:active{
				box-shadow: inset 0 2px rgba(0,0,0,0.1);
			}
		}
	}

footer{
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.3);
	padding-top: 2em;
	margin-top: 3em;
}